body {
  background-color: #121212;
  /* height: 100vh; */
  min-height: 100svh;
}

::-moz-selection {
  /* Code for Firefox */
  color: #195b3fbd;
  background: #206c4c9b;
}

::selection {
  color: #20bac4;
  background: #17292a;
}
